:root{
    --primary: rgb(32, 139, 139);
    --bg: rgb(246, 253, 253);
    --text: rgb(87, 101, 117);
    --place: rgb(96, 159, 159);
    --input: rgb(218, 241, 241);
    --crema: rgb(224, 204, 180); 
    --magenta: rgb(134, 65, 76);
    --negro: rgb(26, 29, 24);
    --marron: rgb(45, 35, 36);
    --gris: rgb(207, 208, 210);
}

