@import url('./asociaciones.css');
@import url('./eventos.css');
@import url('./numeros.css');
@import url('./participantes.css');
@import url('./preguntas.css');

main{
    padding-top:10vh;   
    background-color: snow;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}